.bg {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #FC6B55;
    background-image: linear-gradient(to bottom right, #F9C836, #EC6466);
}

.logo {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 33%;
    height: auto;
}

.fill {
    width: 100%;
    height: auto;
}